/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Lato);

html,
h1,
h2,
h3,
p {
    font-family: Lato;
    font-weight: 400;
}

h1 {
	letter-spacing: -.10em;
	width:100%;
}

p{
	letter-spacing: .01em;
}

/* Centering text */
.center {
	text-align: center!important;
}

/* Background */
.bg-darker {
	background-color: #dbd6f5;
}
/* Desktop Nav for now - need media queries pl0x */
.menu {
	background:#776fab;
	/*rgb(150, 69, 150)*/
	padding-right:10px;
}

/* Makes the menu-items go right */
.menu ul{
	float:right;
}

/* actual logo ltr pl0x */
.white {
	color:white!important;
}

.pure-menu-link:hover{
	background-color: #847ac6;
	/* Other color options: #897fc6, #7f75ba, #7c73b5, #8b81ca */
	/*rgba(219, 156, 228, 0.89)*/
}

.circle {
	border-radius: 50%;
	width: 350px!important;
	height: 350px!important;
}

.top {
	padding-top: 51px;
}

/*.bottom {
	padding-top: 10px;
}*/

.round {
	width: 100%;
	background-color: white;
	border-radius: .8em;
	padding: 1em;
	margin: 2em;
	margin-top: 0;
}

.center-circle {
	margin-left: 250px;
	margin-right: 100px;
}

.flippy {
	width: 350px;
	height: 350px!important;
}