/******************
    Fonts & Text
*******************/

@import url(http://fonts.googleapis.com/css?family=Lato);

html, button, input, select, textarea, h1, h2, h3, h4, h5, h6, p, li, ul
.pure-g [class *= "pure-u"] {
    font-family: Lato, sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
}

h1, h2, h3, h4, h5, h6 {
	width:100%;
}

li {
    list-style: none;
    padding-bottom: .5em;
}
ul {
    list-style: none;
}

/***********************
    Centering Stuff
************************/

/* Centering text */
.center {
	text-align: center!important;
}

/* Vertical centering nonsense for bubble text */
.text {
	position: relative;
	height: 250px;
	margin: 50vh auto 0;
	transform: translateY(-50%);
}

/************************
    Background Colors
*************************/
.bg-darker {
	background-color: #dbd6f5;
}

.bg-darkest {
    background-color: #776fab;
}

.purple {
    background-color:#dbd6f5!important;
}

.white {
    color:white!important;
}

/************
    Menu
*************/

/* This only works on desktop atm */
.menu {
	background:#776fab;
	/*rgb(150, 69, 150)*/
	padding-right:10px;
}

/* Makes the menu-items go right */
.menu ul{
	float:right;
}

/* Makes logo stay in place */

.logo {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    *display: inline;
    margin-left: 8px;
}

.menu > img {
    object-fit: contain;
    max-height: 100%;
}

.pure-menu-link:hover{
	background-color: #847ac6;
	/* Other color options: #897fc6, #7f75ba, #7c73b5, #8b81ca */
	/*rgba(219, 156, 228, 0.89)*/
}

.circle {
	border-radius: 50%;
	width: 250px!important;
	height: 250px!important;
}

.top {
	padding-top: 51px;
}

/************************
    Round-edged boxes
*************************/

/* Events page */
.round {
    background-color: white;
    border-radius: .8em;
    padding: 1em;
    margin: 2em;
    margin-top: 0;
}

/* Other pages */
.round-w {
    width: 100%;
	background-color: white;
	border-radius: .8em;
	padding: 1em;
	margin: 2em;
	margin-top: 0;
}

.round-p {
	width: 100%;
	background-color: #dbd6f5;
	border-radius: .8em;
	padding: 1em;
	margin: 2em;
	margin-top: 0;
}

.flippy {
	width: 250px;
	height: 250px!important;
}

/* Responsive images */
.responsive-img {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

/**************
    Forms
***************/
.pure-form input[readonly]{
	background-color: #fff;
}

/***********
    VC
***********/

.card-header {
    position: absolute;
}

.card-header a {
    color:white;
}
.card-header img {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; // IE8

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=80); // IE 5-7

  /* Modern Browsers */
  opacity: 0.8;
}